@font-face {
    font-family: "glyphicons";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
@font-face {
    font-family: "brother-deluxe";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/brother-deluxe-1350-font/brotherDeluxe1350____2011.ttf') format('truetype');
}
@font-face {
    font-family: "cuttyfruty";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/cuttyfruty/CuttyFruty.ttf') format('truetype');
}
@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "montserrat-bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "nashville";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/nashville/NASHVILL.TTF') format('truetype');
}
@font-face {
    font-family: "radiantantique";
    font-style: normal;
    font-weight: normal;
    src: url('../fuentes/RadiantAntique.ttf') format('truetype');
}
.descuento-container{
    width: 100%;
    height: 5vh;
    background-color: rgba(122, 74, 88, 0.99);
    font-weight: normal;
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}